@model Bpm2GP.Model.DataBase.Models.AssociationConf
@using Bpm2GP.Model.DataBase
@using Bpm2GP.Model.DataBase.Models

<script type="text/javascript">
    $(document).ready(function() {
        $('#tblProcElements').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $('[data-toggle="tooltip"]').tooltip();

        $("#dlgAssociation").on("hide.bs.modal", function () {
            $(".btn-assoc").removeClass("hide");
            $("input[type='checkbox']").removeAttr('checked');
        });
    });

    function showModalDialog(idLanguageElement, idAssociation) {
        $(".btn-assoc").addClass("hide");

        $.ajax({
            type: "GET",
            url: "/Configuration/ShowElementsAssociationDialog/" + idAssociation + "?idLanguageElement=" + idLanguageElement,
            success: function (r) {
                console.log(r);
                $("#modalSaveElementsAssociation").html(r);
                $("#dlgAssociation").modal("show");
            }
        });
    }
</script>

<div class="panel panel-info">
    <div class="panel-body">
        <h3>Process Elements - @Model.ToShow</h3>
        <small style="color: silver">Id: @Model.Id</small>
        <hr/>
        <table id="tblProcElements" class="table table-striped table-bordered table-responsive">
            <thead>
            <tr>
                <th>Modeling Element</th>
                <th>Description Element</th>
                <th></th>
                <th>@(Model.Genre.Name) Element</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pe in Model.Language.Elements)
            {
                <tr>
                    <td>@pe.Name</td>
                    <td>@pe.Description</td>
                    <td class="text-center">
                        @if (!Model.IsConstant)
                        {
                            <a href="#" class="btn btn-default btn-xs btn-assoc" onclick=" showModalDialog('@(pe.Id)', '@(Model.Id)') ">
                                <i class="glyphicon glyphicon glyphicon-retweet"></i> Associate Element
                            </a>
                        }
                    </td>
                    <td class="btn-group-xs">
                        @{
                            var assocElements = DbFactory.Instance.AssociationConfElementRepository.FindAllElementsByAssociantionAndLanguageElementId(pe.Id, Model.Id);
                        }

                        @if (assocElements.Count > 0)
                        {
                            foreach (var assElem in assocElements)
                            {
                                if (assElem.Association.IsConstant)
                                {
                                    <div class="btn btn-default btn-xs">
                                        @assElem.GameGenreElement.Name
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-default btn-xs" data-ajax="true" data-ajax-loading="#divCarregando" data-ajax-method="post"
                                       data-ajax-mode="replace" data-ajax-update="#tblElements" href="@Url.Action("UnAssociateElement", "Configuration", new {id = assElem.Id})">
                                        @assElem.GameGenreElement.Name <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="panel-footer text-right">
        <a href="#" class="btn btn-default" onclick=" closeElements() ">
            <i class="glyphicon glyphicon-remove-circle"></i> Close
        </a>
    </div>
</div>

<div id="modalSaveElementsAssociation">
</div>