@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.GddConfigurationElements>

@{
    var isConstant = false;
}

<script type="text/javascript">
    $(document).ready(function() {
        $('#tableGddElements').DataTable({
            "lengthMenu": [[-1, 25, 50], ["All", 25, 50]]
        });

        $('[data-toggle="tooltip"]').tooltip();

        $("#btnFechar").click(function () {
            $("#tblGdd").addClass("col-md-12");
            $("#tblGdd").removeClass("col-md-6");
            $(".btnShowElement").removeClass("hide");
            $(".btnDeleteGdd").removeClass("hide");
            $("#btnReloadGdds").removeClass("hide");
            $("#btnAddGdd").removeClass("hide");

            $("#tblGddElements").addClass("hide");
        });
    });

    function showGddSectionDialog(data) {
        $("#dlgGddSection").modal("show");
    }

</script>
<h4>GDD Elements</h4>
<hr />
<table id="tableGddElements" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Order")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Game Genre Elements")
            </th>
        </tr>
    </thead>
    <tbody>
    @{ var i = 0; }
    @foreach (var item in Model)
    {
        i++;

        <tr>
            <td class="btn-group-xs text-center">
                @if (!item.GddConfig.IsConstant)
                {
                    <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-danger btn-xs"
                        data-ajax-update="#tblGddElements" href="@Url.Action("RemoveGddElement", "Configuration", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Remove GDD Section">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-default btn-xs" data-ajax-success="showGddSectionDialog" data-ajax-loading="#divCarregando"
                        data-ajax-update="#tblAddSection" href="@Url.Action("UpdateGddElement", "Configuration", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Edit GDD Section">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                }
                else
                {
                    isConstant = item.GddConfig.IsConstant;
                }
            </td>
            <td class="btn-group-xs text-center">

                <div class="badge">@item.PresentationOrder</div>
                @if (!item.GddConfig.IsConstant)
                {
                    if (i != 1)
                    {
                        <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-default btn-xs" data-ajax-loading="#divCarregando"
                           data-ajax-update="#tblGddElements" href="@Url.Action("OrderGddElement", "Configuration", new {id = item.Id, order = item.PresentationOrder, op = "u"})" data-toggle="tooltip"
                           data-placement="top" title="Up Order">
                            <i class="glyphicon glyphicon-arrow-up"></i>
                        </a>
                    }

                    if (i != Model.Count())
                    {
                        <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-default btn-xs" data-ajax-loading="#divCarregando"
                           data-ajax-update="#tblGddElements" href="@Url.Action("OrderGddElement", "Configuration", new {id = item.Id, order = item.PresentationOrder, op = "d"})" data-toggle="tooltip"
                           data-placement="top" title="Down Order">
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </a>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @if (item.ParentElement != null)
                {
                    <br/><small style="color: silver"> [Parent: @item.ParentElement.Title]</small>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="btn-group-sm">
                @if (item.GameGenreElements.Count > 0)
                {
                    foreach (var ge in item.GameGenreElements)
                    {
                        if (!isConstant)
                        {
                            <div class="btn btn-default">
                                <i class="glyphicon glyphicon-knight"></i> @ge.Name
                                <a class="btn btn-danger btn-xs btn-remove" data-ajax="true" data-ajax-loading="#divCarregando" data-ajax-method="post" data-toggle="tooltip" data-placement="top" title="Remove Element"
                                   data-ajax-mode="replace" data-ajax-update="#tblGddElements" href="@Url.Action("UnGddGameElement", "Configuration", new {id = ge.Id, idGddElement = item.Id})">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="btn btn-default">
                                <i class="glyphicon glyphicon-knight"></i> @ge.Name
                            </div>
                        }
                    }
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot></tfoot>
</table>
<hr />
<div class="text-right">
    <button class="btn btn-default" id="btnFechar"><i class="glyphicon glyphicon-arrow-left"></i> Hide Elements</button>
    @if (!isConstant)
    {
        <a id="btnAddGenreSection" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#tblAddSection"
             data-ajax-loading="#divCarregando" data-toggle="tooltip" data-ajax-success="showGddSectionDialog"
             data-placement="bottom" title="Add Section"
             href="@Url.Action("AddGddSection", "Configuration", new {id = ViewBag.IdGdd})" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i> Add Section
        </a>
    }
</div>

<div id="tblAddSection">
    
</div>