@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.ModelingLanguageElement>

<script type="text/javascript">
    $(document).ready(function() {
        $('#tblModelElements').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $("#btnFechar").click(function () {
            $("#tblLanguages").addClass("col-md-12");
            $("#tblLanguages").removeClass("col-md-6");
            $("#btnShowElement").removeClass("hide");
            $("#btnReloadLanguages").removeClass("hide");
            $("#btnAddLanguage").removeClass("hide");

            $("#tblElements").addClass("hide");
        });
    });

</script>
<h4>Elements</h4>
<hr/>
<table id="tblModelElements" class="table table-responsive table-striped table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metamodel)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-danger btn-sm"
                   data-ajax-update="#tblElements" href="@Url.Action("RemoveElement", "Configuration", new {id = item.Id})">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metamodel)
                @if (item.ParentElement != null)
                {
                    <br/><small style="color: silver">base type: [@(item.ParentElement.Metamodel)]</small>
                }
            </td>
        </tr>        
    }
    </tbody>
    <tfoot></tfoot>
</table>
<hr/>
<div class="text-right">
    <button class="btn btn-default" id="btnFechar"><i class="glyphicon glyphicon-arrow-left"></i> Hide Elements</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#dlgElements"><i class="glyphicon glyphicon-plus-sign"></i> Add Element</button>
</div>

@Html.Partial("_AddElement", new ModelingLanguageElement() { Language = ViewBag.Language }, new ViewDataDictionary() { { "Elements", Model} })
