@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.GddConfiguration>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblGddConf').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

    function exibirAddGdd() {
        $("#dlgGdd").modal("show");
    }
</script>


<table id="tblGddConf" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayName("Game Genre")
            </th>
            <th>
                @Html.DisplayName("Registration Date")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameGenre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @if (!item.IsConstant)
                    {
                        <a data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#tblGdd"
                           data-ajax-loading="#divCarregando" data-toggle="tooltip" data-placement="bottom" title="Remove GDD"
                           href="@Url.Action("RemoveGdd", "Configuration", new {id = item.Id})" class="btn btn-sm btn-danger btnDeleteGdd">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    }
                    <a id="btnShowElement" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#tblGddElements"
                       data-ajax-loading="#divCarregando" data-ajax-success="OpenElementTab" data-toggle="tooltip"
                       data-placement="bottom" title="Show Elements"
                       href="@Url.Action("GddElements", "Configuration", new {id = item.Id})" class="btn btn-sm btn-default btnShowElement">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>

<hr />
<div class="text-right">
    <a id="btnReloadGdds" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace"
       data-ajax-update="#tblGdds" data-ajax-loading="#divCarregando"
       href="@Url.Action("ReloadAllGdds", "Configuration")" class="btn btn-warning">
        <i class="glyphicon glyphicon-refresh"></i> Reload GDDs
    </a>
    <a id="btnAddGdd" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace"
       data-ajax-update="#dlgNewGdd" data-ajax-loading="#divCarregando" data-ajax-success="exibirAddGdd"
       href="@Url.Action("AddNewGdd", "Configuration")" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus-sign"></i> New GDD
    </a>
</div>

<div id="dlgNewGdd">
    
</div>