@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.ModelingLanguage>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblModelLanguages').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<table id="tblModelLanguages" class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @if (!item.IsConstant)
                {
                    <a data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#tblLanguages"
                       data-ajax-loading="#divCarregando" data-toggle="tooltip" data-placement="bottom" title="Remove Language"
                       href="@Url.Action("RemoveLanguage", "Configuration", new {id = item.Id})" class="btn btn-sm btn-danger btn-remove">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                }
                <a data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#tblElements"
                   data-ajax-loading="#divCarregando" data-ajax-success="OpenElementTab" data-toggle="tooltip" 
                   data-placement="bottom" title="Show Elements"
                   href="@Url.Action("LanguageElements", "Configuration", new {id = item.Id})" class="btn btn-sm btn-default btnShowElement">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot></tfoot>
</table>

<hr />
<div class="text-right">
    <a id="btnReloadLanguages" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace"
       data-ajax-update="#tblLanguages" data-ajax-loading="#divCarregando"
       href="@Url.Action("RealoadAllLanguages", "Configuration")" class="btn btn-warning">
        <i class="glyphicon glyphicon-refresh"></i> Reaload Languages
    </a>
    <button id="btnCloneLanguage" class="btn btn-success" data-toggle="modal" data-target="#dlgCopy">
        <i class="glyphicon glyphicon-tags"></i> Copy Language
    </button>
    <button id="btnAddLanguage"class="btn btn-primary" data-toggle="modal" data-target="#dlgLanguage">
        <i class="glyphicon glyphicon-plus-sign"></i> New Language
    </button>
</div>

@Html.Partial("_AddLanguage", new ModelingLanguage())
@Html.Partial("_CopyLanguage", new ModelingLanguage(), new ViewDataDictionary() { { "Languages", Model } })