@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.GameGenreElement>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tblGameElements').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $("#btnFechar").click(function () {
            $("#tblGenres").addClass("col-md-12");
            $("#tblGenres").removeClass("col-md-6");
            $(".btnShowElement").removeClass("hide");
            $("#btnReloadLanguages").removeClass("hide");
            $("#btnAddLanguage").removeClass("hide");

            $("#tblGenreElements").addClass("hide");
        });
    });

</script>
<h4>Game Genre Elements</h4>
<hr />
<table id="tblGameElements" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" class="btn btn-danger btn-sm"
                       data-ajax-update="#tblGenreElements" href="@Url.Action("RemoveGenreElement", "Configuration", new {id = item.Id})">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
<hr />
<div class="text-right">
    <button class="btn btn-default" id="btnFechar"><i class="glyphicon glyphicon-arrow-left"></i> Hide Elements</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#dlgGenreElements"><i class="glyphicon glyphicon-plus-sign"></i> Add Element</button>
</div>
@Html.Partial("_AddGenreElement", new GameGenreElement() { GameGenre = ViewBag.Genre })
