@using Bpm2GP.Model.Utils
@{
    var user = LoginUtils.User;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>BPM2GameProject - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="../../Scripts/bower_components/bpmn-js/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="../../Scripts/bower_components/bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css">
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("ProModGD", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    </div>

    <div class="collapse navbar-collapse">
        @(user == null ? Html.Partial("_UnloggedMenu") : Html.Partial("_LoggedMenu"))
    </div><!-- /.navbar-collapse -->
</nav>
<div class="body-content">
    <p>
        @RenderBody()
    </p>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Tadeu Classe | Rio de Janeiro (Brazil) | <a href="mailto:tadeu.classe@gmail.com"> Contact us</a> | 
        <a href="@Url.Content("~/Help/ProModGD_Help_PtBr.html")">Help</a>
        </p>
    </footer>
</div>

<div id="divCarregando" class="progresso">
    <img src="@Url.Content("~/images/site/ajax-loader.gif")" alt="" width="128" height="128" />
</div>
</body>
</html>
