@model Bpm2GP.Model.DataBase.Models.User

<script language="javascript" type="text/javascript">

        function sucessLogin(data) {

            if (!data.success) {
                $("#btnLogin").notify(
                  data.Message,
                    {
                        className: 'error',
                        position: "left"
                    }
                );
            } else {
                window.location.replace(data.Message);
            }
        }
</script>

<form method="POST" action="@Url.Action("LogIn", "User")" data-ajax="true" data-ajax-failure="falhaLogin" data-ajax-method="POST" data-ajax-success="sucessLogin"
      class="dropdown-menu panel panel-info" style="padding-bottom: 0px; border-top-width: 0px; padding-top: 1px; width: 350px;">
    <div class="panel-heading"><h5><i class="glyphicon glyphicon-log-in"></i> Log-In</h5>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control", placeholder = "User or E-mail"}})
                    @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", placeholder = "Password"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="submit" class="btn btn-primary" id="btnLogin"><i class="glyphicon glyphicon-log-in"></i> Log-In</button>
    </div>
</form>


