@using Bpm2GP.Model.DataBase.Models
@using Bpm2GP.Model.Utils
@{
    var user = LoginUtils.User;
}

<script>
$(document).ready(function(){
    $('.dropdown-submenu a.ddSubMenu').on("click", function (e) {
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
    });
});
</script>
<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="glyphicon glyphicon-wrench"></i> Tools<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a class="ddSubMenu" href="#"><i class="glyphicon glyphicon-cog"></i> Configuration<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ProcessModelConfiguration", "Configuration")">
                        <i class="glyphicon glyphicon-option-horizontal"></i> Process Modeling Languages
                    </a></li>
                    <li><a href="#"><i class="@WebIcons.Glyphicons.Qrcode"></i> Game Genres Elements</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="@Url.Action("Projects", "Project")"><i class="glyphicon glyphicon-list-alt"></i> All Projects</a>
    </li>

</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" id="ddmUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> Hello, @user.Designer.Name <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="ddmUser">
            <li><a href="@Url.Action("UserProfile", "User")"><i class="glyphicon glyphicon-edit"></i> Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="@Url.Action("LogOff", "User")"><i class="glyphicon glyphicon-log-out"></i> Log-Out</a></li>
        </ul>
    </li>
</ul>
