@using Bpm2GP.Model.Utils
@{
    var user = LoginUtils.User;
}

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Projects", "Index", "Projeto", new { id = 1 }, new { })</li>
    <li>@Html.ActionLink("Modelo de Processo", "ModeloProcesso", "Home")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("UserProfile", "User")"><i class="glyphicon glyphicon-user"></i> Hello, @user.Designer.Name</a></li>
    <li><a href="@Url.Action("LogOff", "User")"><i class="glyphicon glyphicon-log-out"></i> Log-Out</a></li>
</ul>
