@using Bpm2GP.Model.DataBase.Models
@model Bpm2GP.Model.DataBase.Models.Project

@{
    var hide = Model.ProjectGdd != null;
}

<script type="text/javascript">
    function hideGddElements() {
        $("#gddPanel").addClass("hide");
        $("#btnApagarGdd").addClass("hide");
        $("#gpBtnGddCreate").removeClass("hide");
    }

    function showGddElements() {
        $("#gddPanel").removeClass("hide");
        $("#btnApagarGdd").removeClass("hide");
        $("#gpBtnGddCreate").addClass("hide");
    }

    function showDlgSelectConfig() {
        $("#dlgSelectConf").modal("show");
    }
</script>

<br />
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a id="btnApagarGdd" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#gddPanel"
           data-ajax-loading="#divCarregando" data-toggle="tooltip" data-ajax-success="hideGddElements"
           data-placement="bottom" title="Add Section"
           href="@Url.Action("DeleteGdd", "Project", new {id = (Model.ProjectGdd != null ? Model.ProjectGdd.Id : new Guid())})" class="btn btn-danger navbar-btn @(hide ? "" : "hide")">
            <i class="glyphicon glyphicon-trash"></i> Delete GDD
        </a>
        <span id="gpBtnGddCreate" class="@(hide ? "hide" : "")">
            <a id="btnNewGdd" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#gddPanel"
               data-ajax-loading="#divCarregando" data-toggle="tooltip" data-ajax-success="showGddElements"
               data-placement="bottom" title="Create New GDD"
               href="@Url.Action("CreateGdd", "Project", new {id = Model.Id})" class="btn btn-default navbar-btn">
                <i class="glyphicon glyphicon-plus"></i> Create New GDD
            </a>

            @if (@Model.DesignMappings.Count > 0)
            {
                <a id="btnNewGddMapping" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#gddSelectConfig"
                   data-ajax-loading="#divCarregando" data-toggle="tooltip" data-ajax-success="showDlgSelectConfig"
                   data-placement="bottom" title="Create GDD Based on Mapping"
                   href="@Url.Action("ShowGddBasedOnMapping", "Project", new {id = Model.Id})" class="btn btn-default navbar-btn">
                    <i class="glyphicon glyphicon-plus"></i> Create GDD Based on Element Mapping
                </a>
            }
        </span>
    </div>
</nav>

<div class="panel panel-default @(hide ? "" : "hide")" id="gddPanel">
    @Html.Partial("_ShowGdd", (Model.ProjectGdd ?? new ProjectGdd()))
</div>

<div id="gddSelectConfig"></div>