@using Bpm2GP.Model.DataBase.Models
@model IEnumerable<Bpm2GP.Model.DataBase.Models.Project>


<script type="text/javascript">
    $(document).ready(function() {
        $('#tblProjects').DataTable({
            "lengthMenu": [[3, 10, 50, -1], [3, 10, 50, "All"]]
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

    function DeletedProjects() {
        $("#btnDelete").notify(
            "All selected projects were inactivated!",
            {
                className: 'info',
                position: "left"
            }
        );
    }
</script>

@using (Ajax.BeginForm("DeleteProjects", "Project", new AjaxOptions()
{
    UpdateTargetId = "tblPrjs",
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "DeletedProjects"
}))
{
<table id="tblProjects" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="text-center">
            [x]
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("Last Update")
        </th>
        <th>
            @Html.DisplayName("Process Owner")
        </th>
        <th>
            @Html.DisplayName("Process Model")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                <input type="checkbox" value="@item.Id" name="prjs[]" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td class="text-center">
                @if (!string.IsNullOrEmpty(item.BpmnModelPath))
                {
                    <a href="@Url.Action("ProcessModelling", "Project", new {id = item.Id})" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="Edit Process Model"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="@Url.Action("ViewModelling", "Project", new {id = item.Id})" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="View Process Model"><i class="glyphicon glyphicon-eye-open"></i></a>
                }
                else
                {
                    <a href="@Url.Action("ProcessModelling", "Project", new {id = item.Id})" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="Create Process Model"><i class="glyphicon glyphicon-plus"></i></a>
                }
            </td>
            <td class="text-center">
                <a href="" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="Edit Project"><i class="glyphicon glyphicon-list-alt"></i> </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<hr/>
<div class="row">
    <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-danger" id="btnDelete"><i class="glyphicon glyphicon-minus-sign"></i> Remove Projects</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#dlgProject"><i class="glyphicon glyphicon-plus-sign"></i> New Project</button>
    </div>
</div>
}

@Html.Partial("_AddProject", new Project())

