@model Bpm2GP.Model.DataBase.Models.Project

<link href="/Scripts/process_modeler/css/app.css" rel="stylesheet" />

<script type="text/javascript">
    var edit = "@ViewBag.Edit";
    var modelFile = "@ViewBag.BpmnFilePath";

    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<h3>Process Modelling</h3>
<h5 style="color: silver">Project: @Model.Title [#@Model.Id]</h5>
<div class="col-md-12">
    <ol class="breadcrumb">
        <li class=""><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class=""><a href="@Url.Action("Projects", "Project")">Projects</a></li>
        <li class=""><a href="@Url.Action("Project", "Project", new {id = Model.Id})">@Model.Title</a></li>
        <li class="active">Process Modelling</li>
    </ol>
</div>
<div class="row"></div>
<div class="alert alert-success row">
    <form class="form-inline" id="fileSelected">
        <div class="form-group col-md-5">
            <input id="projectId" type="hidden" value="@ViewBag.ProjectId" />
            <input class="form-control" id="edtBpmnInput" type="file">
        </div>
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="bottom" title="Open Process Model">
                <i class="glyphicon glyphicon-cloud-upload "></i>
            </button>
            <a href="#" class="btn btn-default" id="newProcess" data-toggle="tooltip" data-placement="bottom" title="New Process Model">
                <i class="glyphicon glyphicon-file "></i>
            </a>
            <a href="#" class="btn btn-success" id="save-button" data-toggle="tooltip" data-placement="bottom" title="Save Process Model">
                <i class="glyphicon glyphicon-floppy-disk"></i>
            </a>
            <a href="#" class="btn btn-warning" id="save-download" data-toggle="tooltip" data-placement="bottom" title="Download Process Model">
                <i class="glyphicon glyphicon-cloud-download"></i>
            </a>
            <a href="#" class="btn btn-info" id="img-download" data-toggle="tooltip" data-placement="bottom" title="Download as Image">
                <i class="glyphicon glyphicon-picture"></i>
            </a>
            <a href="#" class="btn btn-info" id="img-svg" data-toggle="tooltip" data-placement="bottom" title="Download as SVG">
                <i class="glyphicon glyphicon-compressed"></i>
            </a>
        </div>
    </form>
</div>
<!-- element to draw bpmn diagram in -->
<div id="modelArea">
    <div class="content" id="js-drop-zone">
        <div class="well" style="height: 720px" id="js-canvas"></div>
        <div id="js-properties-panel"></div>
    </div>

    <!--<div class="well" style="height: 600px" id="canvas"></div>
    <div id="js-properties-panel"></div> -->
</div>

<canvas id="canvas1" style="display: none;" width="3000" height="800"></canvas>

@Scripts.Render("~/bundles/bpmn-js")