@using Bpm2GP.Model.DataBase.Models
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $('.carousel').carousel({
        interval: 2000
    })
</script>

<div class="row">
    <div class="col-md-12 text-center center">
        <h1>ProModGD - Process Model Game Design</h1>
        <p class="text-center" style="font-size: 26px">
            A digital platform to create game project based on business process models.
        </p>
        <img alt="Index image" src="@Url.Content("~/images/site/bpm2game.png")" width="400" height="250"/>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/projects.PNG")" width="800" height="600" />
                    <div class="carousel-caption">
                        <h3>Store Your Game Design Projects</h3>
                        <p>ProModGD is ideal to game designer store your game projects. Its informations is saved into a data base and everyone of the game design team could to access it.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/project.PNG")" width="800" height="600"/>
                    <div class="carousel-caption">
                        <h3>Create Project Information and Share with Others Game Designers</h3>
                        <p>After create a project, it is showed to all ProModGD users, and they can ask to project onwer do participate. You also can send link to the project and invite your game designers friends.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/process_languages.PNG")" width="800" height="600"/>
                    <div class="carousel-caption">
                        <h3>Save Process Model Languages Elements</h3>
                        <p>You can save processe language elements of some process model languages to create new associations. The software already starts wiht the BPMN language.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/genres.PNG")" width="800" height="600"/>
                    <div class="carousel-caption">
                        <h3>Put Here Genres of Games</h3>
                        <p>You must to save all game genres that your team use.  The software already starts wiht the Adventure Game Genre.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/processes.PNG")" width="800" height="600" />
                    <div class="carousel-caption">
                        <h3>Model and Use Your Process Models</h3>
                        <p>ProModGD allow you to make BPMN upload and create new BPMN processos model. Through the Open Source Tool BPMN.Io embeded in this software all designer can modeler their own process to use it in mapping process.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/association.PNG")" width="800" height="600"/>
                    <div class="carousel-caption">
                        <h3>Make Elements Associations</h3>
                        <p>To create a element mapping is necessary, before, that a designer perfom a element association between process model elements and game genre elements. The software already starts wiht an association between BPMN and Adventure game genre.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="center-block " alt="Index image" src="@Url.Content("~/images/site/index/mapping.PNG")" width="800" height="600" />
                    <div class="carousel-caption">
                        <h3>Process Game Desing Mapping</h3>
                        <p>Based on the associtaion among elements, the ProModGD can perform a game element mapping, suggestins whose elements must be presente in the game.</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>